// *******************************************************************************
// * (C) Copyright IBM Corporation 2018
// * All Rights Reserved
// *******************************************************************************

doctype html
html
  meta(charset='utf-8')
  head
    title=title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')
    script(src="/js/p5.js")
    script(src="/js/api-tester.js")
    script(src="/js/demo.js")
    //- script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    //- script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
    style
      include ../public/css/style.css
  body()
    div(class="text-white bg-dark")
      div(class="container-fluid")
        div(class="row")
          div(class="col-sm")
            a(href='/', class='text-white') Home
          div(class="col-sm")
            a(href='/readme', class='text-white') Help
          div(class="col-sm")
            a(href='/api-tester', class='text-white') Unified API tester
          div(class="col-sm")
            a(href='/combos', class='text-white') Show combos
          div(class="col-sm")
            a(href='/demo', class='text-white') Demo
    block content